/* variables */
:root {
  --dark-blue: rgb(0, 47, 255);
  margin-top: 2rem;
  --max-width: 1120px;
}

/* media screen for different width sizes */

@media screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

/* defaults for all buttons */
.main-btn {
  background: dodgerblue;
  border: 0px;
  border-radius: 3px;
}

body {
  background: black;
  color: white;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

/* NAV BAR */
.nav-bar {
  max-width: var(--max-width);
  width: 90vw;
  margin: 0 auto;
  cursor: pointer;
  height: 7rem;
}

/* main nav logo */
#nav-logo {
  width: 200px;
}

/* icon inside button */
.fa-align-justify {
  font-size: 1.25rem;
}

/* button that opens and closes nav bar */
#nav-btn {
  width: 2.5rem;
  height: 1.56rem;
}

#nav-btn:hover {
  background: var(--dark-blue);
}

/* main nav bar containing logo and button */
#main-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

/* Div containing nav links */
.nav-links {
  display: flex;
  height: 0;
  flex-direction: column;
  justify-content: center;
  transition: all 2.5s;
  box-sizing: border-box;
  overflow: hidden;
}

.show-nav {
  height: 24rem;
}

/* all nav links */
.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.4rem;
  border-top: 1px solid white;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5rem;
}

.nav-link:hover {
  color: dodgerblue;
}

/* Contact link */
#contact-nav-link {
  font-size: 1.5rem;
  color: white;
  background: dodgerblue;
  padding: 0.38rem 0.94rem;
  margin: 0.5rem;
  cursor: pointer;
}

#contact-nav-link:hover {
  color: white;
  background: var(--dark-blue);
}

@media only screen and (min-width: 768px) {
  #nav-btn {
    display: none;
  }
  #main-nav {
    float: left;
  }
  .nav-links {
    height: 3rem;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    top: 5px;
  }
  .nav-link {
    border: none;
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;
  }
  #contact-nav-link {
    position: absolute;
    right: 0;
    font-size: 1rem;
  }
}
/* end of navbar */

/* footer */
.footer {
  background: rgba(128, 128, 128, 0.411);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

#footer-text {
  text-align: center;
  font-size: 1.1rem;
}

#footer-text > span {
  color: var(--dark-blue);
}
#footer-text > a {
  text-decoration: none;
  color: var(--dark-blue);
}
/* end of footer */

/* page */
main {
  min-height: calc(100vh - (7rem + 4rem + 2rem));
  max-width: var(--max-width);
  width: 90%;
  margin: 0 auto;
}
/* 7rem , nav bar , 4 rem footer , 2 rem top margin html */
